
<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Shop</h1>
<br>
<ul class="catalog">
    <% @products.each do |product| %>
        <li>
            <%= image_tag(product.image_url,:size => "300x300") %>
            <h2><%= product.title %></h2>
            <p>
                <%= sanitize(product.description) %>
            </p>
            <div class="price">
                <%= number_to_indian_currency(product.price) %>
            </div>
        </li>
    <% end %>
</ul>
